body {
  background: antiquewhite;
  font-family: cursive;
  margin: 20px;
}

 div{
   padding: 10px;
   margin : 10px;
 }
p{
  color:maroon
}
h1{
  font-weight: bold;
  font-size: 40px;
}
h1,h2,h3{
  text-align: center;
}
img{
  border: 3px solid blueviolet
}  
.container{
  background-color:olive;
  border:2px dashed black;
}

nav ul li{
  display: inline-block;
  text-align:"center";
  padding:10px;
  font-size: 20px;
  font-family: monospace;
}
nav a{
  text-decoration: none;
  color:black;
}
nav ul li a:hover{
  color:red;
}
#about{
  
  text-align: center;
  
}
#about img{
  height: 200px;
  width:200px;
}

#sports{
  border:8px dotted red;
}
#sports img , #book img{
  height:400px;
  width:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  
}
#message{
 background-color: #ff8080;
 border-radius:10px;
 border:2px double #8080ff;
}
#book{
 background-color: #c0c0c0;
 border-radius:10px;
 border:2px double #ff0080;
}
#photos{
 
  border-radius: 10px; 
  display: inline-block;
  margin:30px;
  padding:30px;
  width: 100%;
  
}
div.column {
  width:180px;
  float:left;
}

div.column img {
  width: 100%;
  height: 200px;
}

#city{
  border: 8px dotted red ;
}
 

